[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Wine Wrapper
Name[ar_AR]=غلاف النبيذ
Name[fi]=Viinikääre
Name[id]=Pembungkus Wine
Name[zh_CN]=Wine 封装工具
GenericName=Wine Wrapper
Comment=Install EXE Application
Comment[ar_AR]=قم بتثبيت تطبيق EXE
Comment[el]=Εγκτάσταση εφαρμογής EXE
Comment[es]=Instala una aplicación EXE
Comment[fi]=Asenna EXE-sovellus
Comment[fr]=Installation d'application EXE
Comment[id]=Instal aplikasi EXE
Comment[it]=Installa un'Applicazione EXE
Comment[ja]=EXE アプリケーションのインストール
Comment[pl]=Zainstaluj aplikację EXE
Comment[pt_BR]=Instalar uma aplicação EXE
Comment[pt_PT]=Instale a Aplicação EXE
Comment[ru]=Установить EXE-приложение
Comment[uk]=Встановити EXE-застосунок
Comment[zh_CN]=安装 EXE 应用程序
Exec=/usr/bin/sparky-wine
Icon=wine
Terminal=false
MultipleArgs=false
Type=Application
Categories=WineConfig;

